{% extends "layout.html" %}
{% block extend %}
<meta name="google-site-verification" content="2TpyPv3DtCVIhIY2J42Nr3emu_wbg7MJBYE1kBGnooQ" />
{% endblock %}
{% block title %}Home {% endblock %}
{% block content %}
    <h1>Welcome to my small corner of the web</h1>
    <hr/>
    <blockquote>
        <p>
            Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
        </p>
        <small>
            <cite>Rick Osborne</cite>
        </small>
    </blockquote>
    <hr/>
    <h3>Recent Posts</h3>
    <br/>
    {% include "project_list.html" %}
{% endblock %}